body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  border: 10px solid #bdbd6f;
  text-decoration:overline;
}


.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  border: 10px solid #bdbd6f;
  border-radius:10px;
  padding: 5px;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatarBox {
  height: 100%;
  width: 25%;
  border-radius: 15px;
  padding: 5px;
  display: grid;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  align-items: start;
  justify-content: space-between;
}
.avatarBox :first-child {
  align-self: center;
}


.box-option {
  width: 80%;
  max-width: 590px;
  padding: 20px;
  display: flex;
  margin: 20 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}
.box-poll-result {
  width: 50%;
  padding: 20px;
  display: flex;
  margin: 20 auto;
  border: 10px solid #dad7d7;
  border-radius: 3px;
}
.box-userprofile-score {
  width: 40%;
  padding: 5px;
  display: flex;
  margin: 10 auto;
  border: 10px solid #dad7d7;
  border-radius: 3px;
}

.box {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.boxSelect {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.poll {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.poll-detail {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.poll-info {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.poll-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.poll-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.poll-info > div > div {
  color: #969696;
  font-size: 15px;
}
.poll-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.poll-icons {
  display: flex;
  align-items: center;
}
.poll-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.poll-icon {
  font-size: 27px;
  color: #697784;
}
.poll-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}